<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BTown Charades</title>
	<!-- Correct Placement for link for styles -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<div class="container">
		<!-- Title centered -->
		<h1 class="title">BTown Charades</h1>

		<!-- Form with year range (left-aligned) -->
		<form action="/btowncharades" method="POST">
			<div class="dropdown">
				<label for="year_range">Select Year Range:</label>
				<select id="year_range" name="year_range">
					<option value="ALL" {% if year_range == 'ALL' %}selected{% endif %}>All<//option>
					<option value="1995-1999" {% if year_range == '1995-1999' %}selected{% endif %}>1995-1999</option>
					<option value="2000-2005" {% if year_range == '2000-2005' %}selected{% endif %}>2000-2005</option>
					<option value="2006-2010" {% if year_range == '2006-2010' %}selected{% endif %}>2006-2010</option>
					<option value="2011-2015" {% if year_range == '2011-2015' %}selected{% endif %}>2011-2015</option>
					<option value="2016-2020" {% if year_range == '2016-2020' %}selected{% endif %}>2016-2020</option>
					<option value="2021-2024" {% if year_range == '2021-2024' %}selected{% endif %}>2021-2024</option>
				</select>
			</div>

			<div class="form-group">
				<h2>
					{% if random_movie %}
						Your Movie: {{ random_movie }}
					{% endif %}
				</h2>
			</div>
			
			<div class="form-group">
				<button type="submit" class="generate-btn">Generate</button>
			</div>
		</form>

	</div>
</body>
</html>
